<ion-header>
  <ion-navbar color="app">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="logo" align="center">
    <img src="img/logo-green-beta/256x256.png">
  </div>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
                 [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && (emailChanged || sibmitAttempt)">
      <p>
        Digita o teu endereço email
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
                 [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)">
      <p>
        Digita a tua password
      </p>
    </ion-item>

    <button ion-button block color="app" type="submit">Entrar</button>

  </form>

  <button ion-button block clear color="app" (click)="goToResetPassword()">Esqueci-me da password</button>

</ion-content>
