<ion-header>
  <ion-navbar color="app">
    <ion-title>Nova Visita</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="newVisitForm" (submit)="createVisit()" novalidate>
    <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-datetime #date displayFormat="D MMM YYYY HH:mm" pickerFormat="YYYY MMM D HH:mm" formControlName="date"
                  [class.invalid]="!newVisitForm.controls.date.valid && newVisitForm.controls.date.dirty"
                  monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
      </ion-datetime>
    </ion-item>
    <ion-item class="error-message" *ngIf="!newVisitForm.controls.date.valid && (dateChanged || submitAttempt)">
      <p>Digita por favor uma data valida.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Resultado</ion-label>
      <ion-select formControlName="result">
        <ion-option>Não estava interessado</ion-option>
        <ion-option>Não estava em casa</ion-option>
        <ion-option>Espreitou</ion-option>
        <ion-option>Não tinha tempo</ion-option>
        <ion-option>Esteve na visita</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" *ngIf="!newVisitForm.controls.result.valid && newVisitForm.controls.result.dirty">
      <p>Escolha por favor um resultado.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Observações</ion-label>
      <ion-textarea rows="10" #remarks formControlName="remarks" type="text"
                  [class.invalid]="!newVisitForm.controls.remarks.valid && newVisitForm.controls.remarks.dirty">
      </ion-textarea>
    </ion-item>
    <ion-item class="error-message" *ngIf="!newVisitForm.controls.remarks.valid && newVisitForm.controls.remarks.dirty">
      <p>Digita por favor uma observação.</p>
    </ion-item>

    <button ion-button block color="app" type="submit">Aditionar nova visita</button>
  </form>
</ion-content>
