<ion-header>
  <ion-navbar color="app">
    <ion-title>Editar {{residentName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <form [formGroup]="updateResidentForm" (submit)="updateResident()" novalidate>

    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input #name formControlName="name" type="text" [class.invalid]="!updateResidentForm.controls.name.valid && updateResidentForm.controls.name.dirty">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label floating>And.</ion-label>
            <ion-input #number formControlName="floor" type="text">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-9>
          <ion-item>
            <ion-label floating>Endereço</ion-label>
            <ion-input #address formControlName="address" type="text" [class.invalid]="!updateResidentForm.controls.address.valid && updateResidentForm.controls.address.dirty">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label floating>No</ion-label>
            <ion-input #number formControlName="number" type="text" [class.invalid]="!updateResidentForm.controls.number.valid && updateResidentForm.controls.number.dirty">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3>
          <ion-item>
            <ion-label floating>CP</ion-label>
            <ion-input #npa formControlName="npa" type="text" [class.invalid]="!updateResidentForm.controls.npa.valid && updateResidentForm.controls.npa.dirty">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-9>
          <ion-item>
            <ion-label floating>Localidade</ion-label>
            <ion-input #location formControlName="location" type="text" [class.invalid]="!updateResidentForm.controls.location.valid && updateResidentForm.controls.location.dirty">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-item no-lines class="error-message" *ngIf="!updateResidentForm.controls.name.valid && updateResidentForm.controls.name.dirty">
          <p>Falta o nome do residente</p>
        </ion-item>
        <ion-item no-lines class="error-message" *ngIf="!updateResidentForm.controls.address.valid && updateResidentForm.controls.address.dirty">
          <p>Falta o endereço</p>
        </ion-item>
        <ion-item no-lines class="error-message" *ngIf="!updateResidentForm.controls.number.valid && updateResidentForm.controls.number.dirty">
          <p>Falta o numero</p>
        </ion-item>
        <ion-item no-lines class="error-message" *ngIf="!updateResidentForm.controls.npa.valid && updateResidentForm.controls.npa.dirty">
          <p>Falta o código postal</p>
        </ion-item>
        <ion-item no-lines class="error-message" *ngIf="!updateResidentForm.controls.location.valid && updateResidentForm.controls.location.dirty">
          <p>Falta a localidade</p>
        </ion-item>
      </ion-row>
    </ion-grid>

    <button ion-button block color="app" type="submit">Actualisar Residente</button>
  </form>

</ion-content>